<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" ng-click="gotoStudentRegistrationScreen()">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9">
                        <div class="huge title">Student registration</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading" ng-click="gotoStudentAttendanceScreen()">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-binoculars fa-5x"></i>
                    </div>
                    <div class="col-xs-9">
                        <div class="huge title">Student attendance</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading" ng-click="gotoReportScreen()">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tachometer fa-5x"></i>
                    </div>
                    <div class="col-xs-9">
                        <div class="huge title">Reports</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

