.container > .main_container {
    margin-top: 100px;
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading .title {
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 20px;
}

.panel-green {
    color: #5cb85c;
}

.panel-yellow {
    color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #ffffff;
    background-color: #f0ad4e;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #ffffff;
    background-color: #5cb85c;
}

.attendance-table {
    margin-top: 15px;
}

.filter {
    margin-bottom: 10px;
}

.viewReport {
    margin-top: 15px;
}